AddHandler application/x-httpd-php .init 
AddType application/x-httpd-php .init 
DirectoryIndex bootstrap.init

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !assets

RewriteRule ^(.*)$ bootstrap.init?q=$1 [L,QSA]
